<p>Use o menu acima para acessar os relatórios de alertas e análises comparativas.</p>

<form action="/cultura/importar-excel" method="post" enctype="multipart/form-data">
    <label for="file">Escolha um arquivo:</label>
    <input type="file" id="arquivo" name="arquivo" required>
    <button type="submit">Enviar</button>
</form>