<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>
        Vigilância Epidemiológica - Alertas Epidemiológicos      
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Vigilância Epidemiológica</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/analise/alertas/epidemiologicos">Alertas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analise/alertas/epidemiologicos/comparativo">Comparativo</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/analise/alertas/epidemiologicos/pdf">Relatório - PDF</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analise/alertas/epidemiologicos/comparativo/pdf">Surtos recentes - PDF</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>

</html>