<!DOCTYPE html>
<html>

<head>
    <title>Upload de Arquivo Excel</title>
</head>

<body>
    <h1>Enviar Arquivo Excel</h1>
    <form action="/culturas/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="arquivo" accept=".xlsx, .xls" required>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>